{{ 'brandreview-linked-blocks.css' | asset_url | stylesheet_tag }}
{{ 'component-modal-video.css' | asset_url | stylesheet_tag }}

<script src="{{ 'brandreview-linked-blocks.js' | asset_url }}" defer="defer"></script>

{% assign brand_image_count = section.blocks | where: 'type', 'brand_image' | size %}
{% if brand_image_count > 0 %}
  {% assign brand_obj = metaobject.metaobject_brand.value %}
  {% capture brand_images %}
    {% for image in brand_obj.images.value %}
      {{ image | image_url: width: 1500 | image_tag: widths: '300, 500, 1500', loading: 'lazy' }}|
    {% endfor %}
  {% endcapture %}
  {% assign brand_images = brand_images | split: '|' %}
  {% assign brand_image_index = 0 %}
{% endif %}

<linked-blocks>
  <nav id="navbar">
    <div class="navbar__arrow navbar__arrow--left">
      <button>
        &#8249;
      </button>
    </div>
    {% assign first = true %}
    {% assign linked_blocks = section.blocks | where: 'type', 'linked_block' %}
    {% for block in linked_blocks %}
      {% if first %}
        <div class="placeholder"><a href="#{{ block.settings.title | handleize }}" class="linked-block__nav-link">{{ block.settings.title }}</a></div>
        {% assign first = false %}
      {% else %}
        <div><a href="#{{ block.settings.title | handleize }}" class="linked-block__nav-link">{{ block.settings.title }}</a></div>
      {% endif %}
    {% endfor %}
    <div class="navbar__arrow navbar__arrow--right">
      <button>
        &#8250;
      </button>
    </div>
  </nav>

  <ul class="aria-invisible">
    {% for block in section.blocks %}
      {% if block.type == 'linked_block' %}
        <li><a href="#{{ block.settings.title | handleize }}">{{ block.settings.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
    
  <div class="page-width">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'intro_text' %}
          <div style="color: {{ block.settings.intro_text_color }};">
            {{ block.settings.intro_text_content }}
          </div>
        {% when 'potato_meter' %}
          <div class="potatometer">
            <div>
              <img src="{{ 'potato_meter.png' |  asset_img_url: 'master' }}" alt="Potato Meter">
            </div>
            <div class="h1">{{ block.settings.potato_score }}%</div>
            <div>
              <span class="h4">
                Overall
                PotatoMeter
                Rating
              </span>
            </div>
            <div>
              {% capture modal_btn %}
                <span class="button button--outline active">What's this?</span>
              {% endcapture %}
              {% render 'potatometer-modal' btn: modal_btn %}
            </div>
          </div>
        {% when 'button' %}
          {% if block.settings.button_text != blank and block.settings.button_url != blank %}
            <div class="center">
              <a href="{{ block.settings.button_url }}" {% if block.settings.button_external_url %}target="_blank"{% endif %} class="button button--primary {{ block.settings.button_style }}">{{ block.settings.button_text }}</a>
            </div>
          {% endif %}
          {% if block.settings.secondary_text != blank and block.settings.secondary_url != blank %}
            <div class="center">
              <a href="{{ block.settings.secondary_url }}" class="secondary-link">{{ block.settings.secondary_text }}</a>
            </div>
          {% endif %}
        {% when 'hr' %}
          <hr>
        {% when 'brand_image' %}
          {% if brand_images[brand_image_index] %}
            <div class="page-width page-width--narrow">
              <div class="brand__image">
                {% if section.settings.brand_images_url != blank %}
                  <a href="{{ section.settings.brand_images_url }}">
                    {{ brand_images[brand_image_index] }}
                  </a>
                {% else %}
                  {{ brand_images[brand_image_index] }}
                {% endif %}
              </div>
            </div>
            {% assign brand_image_index = brand_image_index | plus: 1 %}
          {% endif %}
        {% when 'featured_collection' %}
          <div class="featured-collection--target" data-swap-id="{{ block.settings.featured_collection_swap_id }}"></div>
        {% when 'image_gallery' %}
          {% render 'image-gallery' section_id: section.id, section_index: section.index, enable_modal: block.settings.enable_modal %}
        {% when 'video' %}
          {% if block.settings.youtube_url != blank %}
            <div class="page-width page-width--narrow" style="padding-top: {{ block.settings.padding_top }}px; padding-bottom: {{ block.settings.padding_bottom }}px;">
              <div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
                {% liquid
                  if block.settings.youtube_url contains '?v='
                    assign video_id = block.settings.youtube_url | split: '?v=' | last
                  else
                    assign video_id = block.settings.youtube_url | split: '/' | last | split: '?' | first
                  endif
                %}
                {% if settings.lite_yt_enabled %}
                  <lite-youtube videoid="{{ video_id }}" playlabel="{{ article.excerpt | escape }}"></lite-youtube>
                {% else %}
                  <iframe
                    class="js-youtube"
                    src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1"
                    allow="autoplay; encrypted-media"
                    referrerpolicy="strict-origin-when-cross-origin" 
                    title="{{ article.title | escape }}"
                    allowfullscreen
                  ></iframe>
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% when 'linked_block' %}
          <div class="linkable-section" id="{{ block.settings.title | handleize }}">
            <div class="h3">{{ block.settings.text_header }}</div>
            {{ block.settings.text_content }}
            {% if block.settings.button_text != blank and block.settings.button_url != blank %}
              <div class="center">
                <a href="{{ block.settings.button_url }}" {% if block.settings.button_external_url %}target="_blank"{% endif %} class="button button--primary {{ block.settings.button_style }}">{{ block.settings.button_text }}</a>
              </div>
            {% endif %}
          </div>  
      {% endcase %}


    {% endfor %}
  </div>

  {% assign sticky_button_block = section.blocks | where: 'type', 'sticky_button' %}
  {% for block in sticky_button_block %}
    <sticky-button>
      <a href="{{ block.settings.button_url }}" class="button button--primary {{ block.settings.button_style }}">{{ block.settings.button_text }}</a>
    </sticky-button>
  {% endfor %}
</linked-blocks>

{% schema %}
  {
    "name": "BrandReview Linked Blocks",
    "tag": "section",
    "settings": [
      {
        "type": "url",
        "id": "brand_images_url",
        "label": "Image URL"
      }
    ],
    "blocks": [
      {
        "name": "Horizontal Rule",
        "type": "hr"
      },
      {
        "name": "Sticky Button",
        "type": "sticky_button",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          },
          {
            "type": "select",
            "id": "button_style",
            "label": "Button Style",
            "default": "button--full-width-mobile-only",
            "options": [
              {
                "value": "",
                "label": "Standard"
              },
              {
                "value": "button--wide",
                "label": "Wide"
              },
              {
                "value": "button--full-width",
                "label": "Full Width"
              },
              {
                "value": "button--full-width-mobile-only",
                "label": "Full Width (Mobile Only)"
              }
            ]
          }
        ]
      },
      {
        "name": "Video",
        "type": "video",
        "settings": [
          {
            "type": "url",
            "id": "youtube_url",
            "label": "Youtube URL"
          },
          {
            "type": "header",
            "content": "Block Padding"
          },
          {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 36
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 36
          }
        ]
      },
      {
        "name": "Button",
        "type": "button",
        "settings": [
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          },
          {
            "type": "select",
            "id": "button_style",
            "label": "Button Style",
            "default": "button--full-width-mobile-only",
            "options": [
              {
                "value": "",
                "label": "Standard"
              },
              {
                "value": "button--wide",
                "label": "Wide"
              },
              {
                "value": "button--full-width",
                "label": "Full Width"
              },
              {
                "value": "button--full-width-mobile-only",
                "label": "Full Width (Mobile Only)"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "button_external_url",
            "label": "Button External URL (opens link in new window)",
            "default": true
          },
          {
            "type": "text",
            "id": "secondary_text",
            "label": "Secondary Link Text"
          },
          {
            "type": "url",
            "id": "secondary_url",
            "label": "Secondary Link URL"
          }
        ]
      },
      {
        "name": "Intro Text",
        "type": "intro_text",
        "settings": [
          {
            "type": "richtext",
            "id": "intro_text_content",
            "label": "Intro Text Content"
          },
          {
            "type": "color",
            "id": "intro_text_color",
            "label": "Intro Text Color",
            "default": "#000000"
          }
        ]
      },
      {
        "name": "Potato Meter",
        "type": "potato_meter",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "potato_score",
            "label": "Potato Score"
          }
        ]
      },
      {
        "name": "Brand Image",
        "type": "brand_image"
      },
      {
        "name": "Featured Collection",
        "type": "featured_collection",
        "settings": [
          {
            "type": "header",
            "content": "Requires a Featured Collection SECTION to be added"
          },
          {
            "type": "text",
            "id": "featured_collection_swap_id",
            "label": "Featured Collection Swap ID (optional)",
            "info": "Match the ID of the Featured Collection Section"
          }
        ]
      },
      {
        "name": "Image Gallery",
        "type": "image_gallery",
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_modal",
            "label": "Enable Modal",
            "default": true
          }
        ]
      },
      {
        "name": "Linked Block",
        "type": "linked_block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Navigation Title"
          },
          {
            "type": "text",
            "id": "text_header",
            "label": "Text Header"
          },
          {
            "type": "richtext",
            "id": "text_content",
            "label": "Text Content"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          },
          {
            "type": "select",
            "id": "button_style",
            "label": "Button Style",
            "default": "button--full-width-mobile-only",
            "options": [
              {
                "value": "",
                "label": "Standard"
              },
              {
                "value": "button--wide",
                "label": "Wide"
              },
              {
                "value": "button--full-width",
                "label": "Full Width"
              },
              {
                "value": "button--full-width-mobile-only",
                "label": "Full Width (Mobile Only)"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "button_external_url",
            "label": "Button External URL (opens link in new window)",
            "default": true
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "BrandReview Linked Blocks"
      }
    ]
  }
  {% endschema %}